{
  "KEYCLOAK_ORIGIN": "https://your-keycloak-domain.com",
  "ADMIN_USERNAME": "<keycloak-admin-username>",
  "ADMIN_PASSWORD": "<keycloak-admin-password>",
  "USER_USERNAME": "<keycloak-regular-user-username>",
  "USER_PASSWORD": "<keycloak-regular-user-password>"
}
