{
  "KEYCLOAK_ORIGIN": "http://localhost:9090",
  "KEYCLOAK_REALM": "interactive-security-training-platform",
  "ADMIN_USERNAME": "<keycloak-admin-username>",
  "ADMIN_PASSWORD": "<keycloak-admin-password>",
  "INSTRUCTOR_USERNAME": "<keycloak-instructor-username>",
  "INSTRUCTOR_PASSWORD": "<keycloak-instructor-password>",
  "USER_USERNAME": "<keycloak-regular-user-username>",
  "USER_PASSWORD": "<keycloak-regular-user-password>"
}
