{
  "_KEYCLOAK_ORIGIN_local": "http://localhost:9090",
  "_KEYCLOAK_ORIGIN_staging": "https://istp-staging-auth.pm4.init-lab.ch",
  "KEYCLOAK_ORIGIN": "http://localhost:9090",
  "ADMIN_USERNAME": "<keycloak-admin-username>",
  "ADMIN_PASSWORD": "<keycloak-admin-password>",
  "USER_USERNAME": "<keycloak-regular-user-username>",
  "USER_PASSWORD": "<keycloak-regular-user-password>"
}
